{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}

<main class="content" role="main">
    <article class="post">
        <div class="inner">

            <div id="push">

                <header class="post-header">
                {{ if ne .Type "page" }}
                    <span class="post-meta">
                        <span class="post-date">{{ .Date.Format "2 Jan 2006" }}</span> <span class="reading-time">| <span class="estimated-reading-time">{{ .ReadingTime }} min.</span> (<span class="word-count">{{ .WordCount }}</span> words)</span></span>
                    </span>
                <div class="clear"></div>
                {{ end }}
                <h1 class="post-title">{{ .Title }}</h1>
              </header>

              <section class="post-content">
                {{ if .Params.audio }}
                    <audio controls="" class="podcast-player">
                        <source src="{{ $.Site.Params.podcast.audioBaseUrl }}{{ .Params.audio }}" type="audio/mpeg" />
                        <a href="{{ $.Site.Params.podcast.audioBaseUrl }}{{ .Params.audio }}">{{ .Title }}</a>
                    </audio>
                {{ end }}
                  {{ .Content }}
              </section>

              <footer class="post-footer">
                  <div class="post-tags">
            {{ if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
                <a href="{{ $baseurl }}tags/{{ $tag | urlize }}.html">{{ $tag }}</a>
            {{ end }}
            {{ end }}
                  </div>
                {{ if .Params.share }}
                {{ if ne .Type "page" }}
                    <div class="post-share">
                        <a class="fa fa-reddit-alien" href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false">
                            <span>Reddit</span>
                        </a>
                        <a class="fa fa-twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                            <span>Twitter</span>
                        </a>
                    </div>
                {{ end }}
            {{ end }}
              </footer>

            {{ if ne .Type "page" }}
                {{ partial "comments.html" . }}
            {{ end }}
            </div>

            <nav class="post-nav">
                {{ if .NextInSection }}
                    <a class="post-nav-item post-nav-next" href="{{ .NextInSection.Permalink }}">
                        <section class="post-nav-teaser">
                            <span class="post-nav-icon"><i class="fa fa-chevron-left"></i></span>
                            <span class="post-nav-info">
                                <h4 class="post-nav-title">{{ .NextInSection.Title }}</h4>
                            </span>
                        </section>
                    </a>
                {{ end }}
                {{ if .PrevInSection }}
                    <a class="post-nav-item post-nav-prev" href="{{ .PrevInSection.Permalink }}">
                        <section class="post-nav-teaser">
                            <span class="post-nav-icon"><i class="fa fa-chevron-right"></i></span>
                            <span class="post-nav-info">
                                <h4 class="post-nav-title">{{ .PrevInSection.Title }}</h4>
                            </span>
                        </section>
                    </a>
                {{ end }}
                <div class="clear"></div>
            </nav>

        </div>
    </article>
</main>

{{ partial "footer.html" . }}
