<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

    <head>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta property="og:title" content="{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
        <meta property="og:site_name" content="{{ .Site.Title }}" />
        <meta property="og:url" content="{{ .Permalink }}" />

    {{ if .IsPage }}
        <meta property="og:type" content="article" />
        <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
        {{ range .Params.tags }}<meta property="og:article:tag" content="{{ . }}" />
        {{ end }}

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
        <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:description" content="{{ .Description }}" />
        <meta name="twitter:url" content="{{ .Permalink }}" />
    {{ else }}
        <meta property="og:type" content="website" />
    {{ end }}

        <title>{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}</title>

    {{ if .Description }}
        <meta name="description" content="{{ .Description }}" />
    {{ else }}
        <meta name="description" content="{{ .Site.Params.description }}" />
    {{ end }}

        <meta name="p:domain_verify" content="fc173d84e3a4de948ed4bda2908afd3e"/>
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    {{ if ne .URL "/" }}
        <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{if .IsNode}}
        <link href="{{.RSSLink}}" rel="alternate" type="application/rss+xml" title="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}" />
    {{end}}
        <link rel="canonical" href="{{ .Permalink }}" />

    {{ if .IsPage }}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "headline": "{{ .Title }}",
        "author": {
            "@type": "Person",
            "name": "http://profiles.google.com/{{ .Site.Params.gplus }}?rel=author"
        },
        "datePublished": "{{ .Date.Format "2006-01-02" }}",
        "description": "{{ .Description }}",
        "wordCount": {{ .WordCount }}
    }
    </script>
    {{ end }}

    {{ partial "criticalpath.html" . }}

    </head>
    <body class="home-template" style="display: none;">
      <section id="wrapper">
        <div id="ajax-container">
          <nav id="nav" class="nav">
            <div class="nav-logo">
              <a href="{{ .Site.BaseURL }}">
                {{ if isset .Site.Params "logo" }}
                <img src="{{ .Site.Params.logo }}" alt="Logo" />
                {{ else }}
                <img src="https://www.gravatar.com/avatar/1a2807faf3cca1667ff6f04bf5886eff.png" alt="Logo" />
                {{ end }}
              </a>
            </div>
            <div class="nav-menu">
              <a class="rss" href="{{.RSSLink}}">
                <i class="icon-rss"></i>
              </a>
              {{ if .IsPage }}
              <a class="menu" data-action="menu" data-target="menu"><i class="icon-menu"></i></a>
              {{ end }}
            </div>
          </nav>
