<nav id="pagination" class="pagination" role="pagination">
	<div class="inner">
	{{if .paginator.HasPrev}}
		{{ $prevUrl := delimit (slice .site.BaseURL .paginator.Prev.URL) "" }}
	  <a class="pagination-item pagination-next" href="{{ $prevUrl }}"><i class="fa fa-chevron-left"></i> <span>Anterior</span></a>
	{{end}}
		<span class="pagination-info">Página {{ .paginator.PageNumber }} de {{.paginator.TotalPages}}</span>
	{{if .paginator.HasNext}}
		{{ $nextUrl := delimit (slice .site.BaseURL .paginator.Next.URL) "" }}
	  <a class="pagination-item pagination-prev" href="{{ $nextUrl }}"><span>Siguiente</span> <i class="fa fa-chevron-right"></i></a>
	{{end}}
		<div class="clear"></div>
	</div>
</nav>
